<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s watchlist</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
    <h2>
        <img src="{{url_for('static',filename='images/1.jpg')}}" alt="头像" class="avatar">
        {{ user.name }}'s watchlist</h2> -->

    
    <!-- 过滤器 变量| -->

    {% extends 'base.html'%}
    {% block content %}
    <p>总共{{movies|length}}个</p>
    {# 添加电影的表单 #}
    {% if current_user.is_authenticated %}
    <form action="" method="post">
        电影名称 <input type="text" name="title" autocomplete="off" required>
        电影年份 <input type="text" name="year" autocomplete="off" required>
        <input type="submit" class="btn" name="submit" value="添加">
    </form>
    {% endif %}
    <ul class="movie-list">
        {% for movie in movies %}
        <li>{{movie.title}} - {{movie.year}}
        <span class="float-right"> 
            <a  class='baidu'href="http://v.baidu.com/v?word={{ movies.title }}&ct=301989888&rn=67&pn=0&db=0&s=0&fbl=800&ie=utf-8" target="_blank" title="在百度视频中查找">百度视频</a>
            
        </span>
        {% if current_user.is_authenticated %}
        <span class="float-right">
            <a class="btn" href="{{ url_for('edit',movie_id=movie.id) }}">编辑</a>
        </span>
        <span>
            <form action="{{ url_for('delete',movie_id=movie.id) }}" method="post">
                <input type="submit" value="删除" onclick="return confirm('确定删除吗？')">
            </form>
        </span>
        {% endif %}
    </li>
        {% endfor %}
    </ul>
    {% endblock %}

    <!-- <footer>
        <small>&copy;2020<a href="#">1901电影列表</a></small>
    </footer> -->
<!-- </body>
</html> -->